/* styles.css */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
    border: 2px solid #388E3C;
    border-radius: 8px;
}

.container {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    margin-top: 1rem;
}

.left-section {
    font-size: 125%;
    font-weight: 750;
    margin-left: 1rem;
}

.left-section-center {
    margin-left: 1rem;
    background-color: white;
    display: flex;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    padding: 1rem;
    width: 60%;
}

.right-section {
    display: flex;
    margin-right: 1rem;
}

.right-section-center {
    display: flex;
    margin-right: 1rem;
}

#username-display {
    margin-right: 1rem;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Other styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 1rem;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
